body{
font-size:24px;
background-image: url('home.jpg');
}

.navbar{
min-height:75px;
font-size:32px;
padding-top:10px;
font-color:black;
}

table{
font-size:20px;
}
.username {
color: white;
font-size: 28px;     
font-weight: bold;
}
.navbar-brand, .navbar-header{
font-size:32px;
font-weight: 700;
color:white;
}
table{
font-size:18px;
}
.navbar > .container, .navbar-brand{
margin-left:15px;
}
.login{
text-align:center;
padding: 200px 0px;
}
